# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*
/amplify/#current-cloud-backend
/amplify/.config/local-env-info.json
/amplify/backend/awscloudformation
/amplify/backend/.temp
amplify/.config/local-aws-info.json
